<!DOCTYPE html >
<html lang = "en" >
<head>
    <meta  harset = " UTF-8 " >
    <meta  name = " viewport "  content = " width=device-width,  initial-scale=1.0  " >
    <title> Reservation | Verdant  </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='make-res.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MDX3MPKKJP"></script>
</head>


<body >

    <a href="#" class="close-btn">
        <ion-icon name="close-outline"></ion-icon>
    </a>
    
    <div class = " container " >
        <h1> Make a Reservation </h1>
         <div class = " reservation-options " >

            <!--option 1-->
            <div class = " option " >

                <div class =" icon "> 🍽️ </div>
                <h2> Standard Dining </h2>
                <p> Choose from our main dining room, VIP section, or garden terrace  </p>
                <ul>

                    <li> Price menu </li>
                    <li> Multiple seating areas </li>
                    <li> Regular service hours </li>

                </ul>                
                <button data-name="Standard Dining"> Select </button>
                
            </div>

            <!--option 2-->
            <div class="option" >
                <div class ="icon"> 👨‍🍳 </div>
                <h2> Chef's table Experience </h2>
                <p> Choose from our main dining room, VIP section, or garden terrace </p>

                <ul>

                    <li> Private dining room </li>
                    <li> Cocktails pairing option </li>
                    <li> Limited availability </li>

                </ul>                 
                <button data-name="Chef table Experience ">Select</button>
                

            </div>

            <!--option 3-->
            <div class = " option " >
                <div class =" icon "> 🎉 </div>
                <h2> Private Events </h2>
                <p> Customized experience for special occasions </p>

                <ul>
                    <li> Custom menu planning</li>
                    <li> Dedicated staff</li>
                    <li> Flexible scheduling</li>

                </ul>        
                <button data-name=" Private Events">Select</button>

            </div>
        </div>
    </div>

    <script>
    document.querySelectorAll('button').forEach(button => {
        button.addEventListener('click', function (event) {
            const type = this.getAttribute('data-name');

            fetch('/type/reservation',{ 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ type })

            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log("reservation type have been selected successfully:", data.message);

                    window.location.href = '/location/reservation';
                    
                } else {
                    console.error("Error:", data.message);
                }
            }); 
        });
    });
    </script>

    <!-- Google tag (gtag.js) -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MDX3MPKKJP');
</script>

</body>
</html>
