<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reference Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="static\favicon.ico">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Work Log</h1>
        <div class="text-center my-4">
            <iframe src="static\worklog.pdf" frameborder="0" style="width: 100%; height: 800px;"></iframe>
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="text-center"> Copyright checklist</h1>
        <div class="text-center my-4">
            <iframe src="static\copyright.pdf" frameborder="0" style="width: 100%; height: 800px;"></iframe>
        </div>
    </div>
    
    <br> <br> 

    <h1>Anas Bousrih</h1>
        <ol>
            <li><a href="https://youtu.be/5xOx4mjCLJ0?list=PLEaBSyonNTfZ9j2zytJh7cZXQAe_zA4Yv" target="_blank">Moving Beyond Flat Files in Python With SQLAlchemy and SQLite</a></li>
            <br>
            <li><a href="https://youtu.be/k3YHfp8Bp_E" target="_blank">Responsive CSS Grid No Media Queries</a></li> 
            <br>
            <li><a href="https://youtu.be/45P3xQPaYxc?list=PLEaBSyonNTfZ9j2zytJh7cZXQAe_zA4Yv" target="_blank">Flask Full Course: Build Stunning Web Apps Fast | Python Flask Tutoria</a></li> 
            <br>
            <li><a href="https://youtu.be/sdLCaXOhSWQ?list=PLEaBSyonNTfZ9j2zytJh7cZXQAe_zA4Yv" target="_blank">26 login logout application with user authentication using flask framework</a></li>
            <br>
            <li><a href="https://youtu.be/PppslXOR7TA?list=PLEaBSyonNTfZ9j2zytJh7cZXQAe_zA4Yv" target="_blank">Python + JavaScript - Full Stack App Tutorial</a></li> 
            <br>
            <li><a href="https://youtu.be/GbJPqu0ff9A" target="_blank">Web Forms With WTF! - Flask Fridays</a></li> 
            <br>
            <li><a href="https://youtu.be/JFfVilQSius" target="_blank">Multi Step Form With Progress bar Using HTML, CSS & JavaScript </a></li>
            <br>
            <li><a href="https://youtu.be/evmu1ABASaU" target="_blank">The modern way to add animation on scroll with Javascript and CSS</a></li> 
            <br>
            <li><a href="https://youtu.be/-O9NMdvWmE8" target="_blank">Python and Flask - Web Forms with Flask-wtf</a></li> 
            <br>
            <li><a href="https://youtu.be/RuSH-DEmwEg" target="_blank">Python Flask Tutorial | Getting Form Submission Data</a></li>
            <br>
            <li><a href="https://youtu.be/il9hh5Ysw9o" target="_blank">Understanding WTForms Datefield Format</a></li> 
            <br>
            <li><a href="https://youtu.be/BIcjT2Zz4bU" target="_blank">Flask-Admin - Custom Views</a></li> 
            <br>
            <li><a href="https://youtu.be/qKjDXXkkg8I" target="_blank">Build a Step Progress Bar | JavaScript</a></li>
            <br>
            <li><a href="https://youtu.be/Yl8hg2FG20Q" target="_blank">Learn CSS Subgrid in 14 minutes</a></li> 
            <br>
            <li><a href="https://youtu.be/yOPCQ5nD1Vs" target="_blank">CSS Grid Crash Course | Beginners Tutorial</a></li> 
            <br>
            <li><a href="https://youtu.be/JFfVilQSius" target="_blank">Multi Step Form With Progress bar Using HTML, CSS & JavaScript [Project 32/100]</a></li>
            <br>
            <li><a href="https://youtu.be/GUqigUJyh-k" target="_blank">Styled Table Design with HTML & CSS | Dribbble UI Design to Code</a></li> 
            <br>
            <li><a href="https://youtu.be/ojArD6nLXKg" target="_blank">How To Deploy A Flask App on Render (2024) | Flask App Free hosting</a></li> 
            <br>
            <li><a href="https://medium.com/%40shekhartarare/how-to-create-a-simple-tab-navigation-ui-with-html-css-and-javascript-f09cec5074f4" target="_blank">How to Create a Simple Tab Navigation UI with HTML, CSS, and JavaScript</a></li> 
            <br>
            <li><a href="https://stackoverflow.com/questions/14652325/python-dictionary-in-to-html-table" target="_blank">Python dictionary in to html table</a></li> 
            <li><a href="https://youtu.be/taEVTka9UcA" target="_blank">Python Flask Dashboard: Plotting Dashboard Graphs Using Chart.js</a></li> 
            <li><a href="https://youtu.be/nUUsUAPEjFc" target="_blank">Python Flask Dashboard: Create Responsive Admin Dashboard using Html CSS & Javascript | Simple Dashboard Template Design</a></li> 
            <li><a href="https://youtu.be/XPOSEf40SkQ" target="_blank">Create Dynamic Charts with JSON, JavaScript, and Chart.js</a></li> 
            <li><a href="https://www.chartjs.org/docs/latest/charts/line.html#line-chart" target="_blank">Chart.js documentation </a></li> 
            <li><a href="https://flask.palletsprojects.com/en/stable/" target="_blank">detailed explanations of how to handle JSON data, create APIs, and use request and jsonify to send and receive data.

            </a></li> 
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Scripting/Events" target="_blank">how to handle events in JavaScript, which is essential for sending data to Flask.</a></li> 
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch" target="_blank">Python Flask Dashboard: Plotting Dashboard Graphs Using Chart.js</a></li> 
            <li><a href="https://flask.palletsprojects.com/en/stable/api/#flask.Request" target="_blank">how to use request.get_json() to parse JSON data sent from the frontend.</a></li> 
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON" target="_blank">how to use request.get_json() how to use JSON.stringify() to convert JavaScript objects into JSON strings before sending them to Flask.</a></li> 
            <li><a href="https://flask.palletsprojects.com/en/stable/api/#sessions" target="_blank">how to use sessions effectively and securely.</a></li> 
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals" target="_blank"> how to use template literals for cleaner and more readable code.</a></li> 
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms" target="_blank"> how to work with forms in JavaScript, including preventing default behavior and validating inputs.</a></li> 

        </ol>
    <hr>
    <h1>Dhruv Kadiya</h1>
        <ol>
            <li><a href="https://www.pexels.com" target="_blank">Pexels</a></li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=ZYV6dYtz4HA" target="_blank">17: How to Make a Website Responsive | Learn HTML and CSS | Full Course For Beginners</a></li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=phWxA89Dy94" target="_blank">Learn Flexbox CSS in 8 minutes</a></li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=T5BACF2goFU" target="_blank">Everything About: Footers In Web Design</a></li>
            <br>
            <li><a href="https://www.w3schools.com" target="_blank">W3Schools</a></li>
        </ol>
    <hr>
    <h1>Mausam Subba</h1>
        <ol>
            <li><a href="https://www.youtube.com/watch?v=wsTv9y931o8" target="_blank">Learn CSS Flexbox in 20 Minutes (Course)</a></li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=7nJN12cHyv8" target="_blank">How to add Icons in HTML Website | Font Awesome Icons | HTML CSS</a></li>
            <br>
            <li><a href="https://fontawesome.com/search" target="_blank">Fontawesome</a></li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=-iLP5DZEqcw" target="_blank">How to add background image in HTML and CSS | Coding Ninja</a></li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=SgmNxE9lWcY" target="_blank">Learn CSS Animations In 20 Minutes - For Beginners</a></li>
            <br>
            <li><a href="https://www.w3schools.com" target="_blank">W3School</a></li>
            <br>
            <li><a href="https://codehs.com/sandbox/id/new-sandbox-program-BzqLcc?filepath=style.css&collaborate=-OGzYI2Xyr08Fb-OCxHr" target="_blank">CodeHS</a></li>
        </ol>
    <hr>
    <h1>Luis Miranda</h1>
        <ol>
            <li><a href="https://www.w3schools.com/css" target="_blank">W3Schools</a></li>
            <br>
            <li><a href="https://youtu.be/sOJgvtsbZzM" target="_blank">How to Create a Responsive 3 Column Layout in HTML & CSS</a></li> 
            <br>
            <li><a href="https://youtu.be/phWxA89Dy94" target="_blank">Learn Flexbox CSS in 8 minutes</a></li> 
            <br>
            <li><a href="https://youtu.be/7nJN12cHyv8" target="_blank">How to add Icons in HTML Website | Font Awesome Icons | HTML CSS</a></li> 
            <br>
            <li><a href="https://youtu.be/-HeadgoqJ7A" target="_blank">How To Create Working Contact Form Using HTML & CSS | Receive Contact Form Data on Email</a></li> 
            <br>
            <li><a href="https://www.youtube.com/watch?v=oLgtucwjVII" target="_blank">How to Create Responsive Navigation Bar using HTML and CSS</a></li>
            <br>
            <li><img src="Refrence-Image.png"><li>
            <br>
            <li><a href="https://codehs.com/sandbox/id/new-sandbox-program-BzqLcc?filepath=style.css&collaborate=-OGzYI2Xyr08Fb-OCxHr" target="_blank">CodeHS</a></li>
            <br>
            <li><a href="https://www.canva.com" target="_blank">Canvas For the Icon Design</a></li>
            <br>
            <li><a href="https://favicon.io/favicon-converter/" target="_blank">Favicon Converter</a></li>
        </ol>
    <hr>
</body>
</html>