<!DOCTYPE html>
<html>
  <head>
    <title>Staff Reservations View </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='staffTable.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <a href = "{{ url_for('home') }}" >back</a>
    
            <center> 
        <section class = "table_header" > 
            <h1>Staff Reservations</h1>
            <form method = "post">
                <input class= "date_box" type="date" id="selected_date" name="selected_date" placeholder="Select Date"> 
                <input class="btn" type="submit" value="View Reservations">
            </form>
            {% if selected_date %}
                <p>reservations for {{selected_date}}</p>
            {% endif %}
        </section>

        <section class = "Table_body"> 
            <table>
                <thead>
                    <tr>
                        <th>Rservation ID </th>
                        <th>User Name </th>
                        <th>Number of guests </th>
                        <th>Time slot </th>
                        <th>Scpecial requests </th>
                        <th>Status</th>
                    </tr>
            </thead>
            <tbody >
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.user_name }}</td>
                        <td>{{ reservation.number_of_guests }}</td>
                        <td>{{ reservation.start_time }} - {{ reservation.end_time }}</td>
                        <td>{{ reservation.special_requests or "none" }}</td>
                        <td>{{reservation.Status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            {% if not reservations %}
                <p>There are no reservations.</p>
            {% endif %}
        </section>
  </body>

 </center>